.home-container {
  //   background-image: url("https://firebasestorage.googleapis.com/v0/b/kplcricket-d5078.appspot.com/o/hero_baner.png?alt=media&token=2794f782-fc7b-4997-b3dc-69a44cb81f41");
  // height: 800px;
  background-repeat: no-repeat;
  // background-size: contain;

  .home-logo {
    width: 15%;
    margin-top: 10%;
  }

  .home-logo-mobile {
    width: 50%;
    margin-top: 10%;
  }
  .home-logo-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
