$text-color: #fff;
.home-gallery-container {
  background-color: #000;

  .hg-title {
    color: $text-color;
  }
  .hg-heading {
    color: $text-color;
  }
  .hg-images {
    text-align: center;
    padding: 20px;
  }
}
