.social-icons {
  margin-right: 15px;
}
.contact-us {
  display: flex;
  align-items: center;
}
.contact-detail {
  font-weight: bold;
}
.footer-border {
  background-color: #008fec;
  width: 90%;
  height: 2px;
  border: 1px solid #008fec;
}
